#Общие настройки бота

BOT_TOKEN= #Телеграм токен
UTL_PANEL= #Адрес панели Remnawave
PORT_PANEL= #Порт панели Remnawave
#Токен создается в настройках панели
API_TOKEN=
#ID телеграм пользователей, у которых есть доступ к боту(через запятую)
ALLOWED_USER_IDS=